In [114]:
import pandas as pd
import numpy as np

In [115]:
house_data = "purchase_data.json"

In [116]:
house_data_df = pd.read_json(house_data)
house_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [117]:
house_data_df['SN'].count()

780

In [123]:
# Total number of players

purchasers = house_data_df.groupby('SN')['SN'].nunique()
player_count = pd.DataFrame({"Total Players":[purchasers.count()]})
player_count

   Total Players
0            573

In [124]:
# Number of unique items
unique_items = house_data_df.groupby('Item ID')['Item ID'].nunique()
unique_count = unique_items.count()
unique_count

183

In [120]:
# Total Number of Purchases
total_purchases = house_data_df['SN'].count()
total_purchases

780

In [121]:
# Total Revenue

total_revenue = house_data_df['Price'].sum()
total_revenue

2286.33

In [122]:
# Average purchase price

avg_purchase_price = total_revenue / total_purchases
avg_purchase_price

2.9311923076923074

In [125]:
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_count], 
                                    "Average Price":[avg_purchase_price], 
                                    "Number of Purchases":[total_purchases],
                                    "Total Revenue":[total_revenue]
                                   })
purchasing_analysis2 = purchasing_analysis[["Number of Unique Items",
                                            "Average Price",
                                            "Number of Purchases",
                                            "Total Revenue"
                                           ]] 

purchasing_analysis2["Average Price"] = purchasing_analysis2["Average Price"].map("${:.2f}".format)
purchasing_analysis2["Total Revenue"] = purchasing_analysis2["Total Revenue"].map("${:.2f}".format)
purchasing_analysis2.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $2.93                  780      $2286.33

In [90]:
gender_data = house_data_df.groupby('Gender')['SN'].nunique()
gender_data

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [91]:
# Percentage and count of male players
males = gender_data[1]
perc_males = males/gender_data.sum() * 100
print("Percentage of male players: " + str(perc_males))
print("Count of males: " + str(males))

Percentage of male players: 81.15183246073299
Count of males: 465

In [92]:
# Percentage and count of female players
females = gender_data[0]
perc_females = females/gender_data.sum() * 100
print("Percentage of female players: " + str(perc_females))
print("Count of females: " + str(females))

Percentage of female players: 17.452006980802793
Count of females: 100

In [93]:
# Percentage and count of female players
females = gender_data[0]
perc_females = females/gender_data.sum() * 100
print("Percentage of female players: " + str(perc_females))
print("Count of females: " + str(females))

Percentage of female players: 17.452006980802793
Count of females: 100

In [94]:
# Percentage and count of Other/Non-disclosed players
other = gender_data[2]
perc_other = other/gender_data.sum() * 100
print("Percentage of Other/Non-disclosed players: " + str(perc_other))
print("Count of Other/Non-disclosed: " + str(other))

Percentage of Other/Non-disclosed players: 1.3961605584642234
Count of Other/Non-disclosed: 8

In [104]:
gender_groups = house_data_df.groupby(['Gender'])

gender_purchase = gender_groups["SN"].count()

avg_purchase_price = gender_groups["Price"].mean()

total_purchase_value = gender_groups["Price"].sum()

norm_totals = total_purchase_value/gender_data

gender_pa = pd.DataFrame({"Purchase Count":gender_purchase,
                            "Average Purchase Price":avg_purchase_price,
                            "Total Purchase Value":total_purchase_value,
                            "Normalized Totals":norm_totals,
                     })

gender_pa["Average Purchase Price"] = gender_pa["Average Purchase Price"].map("${:.2f}".format)
gender_pa["Total Purchase Value"] = gender_pa["Total Purchase Value"].map("${:.2f}".format)
gender_pa["Normalized Totals"] = gender_pa["Normalized Totals"].map("${:.2f}".format)

#Reorganizing Columns
gender_pa2 = gender_pa[["Purchase Count",
                                       "Average Purchase Price",
                                       "Total Purchase Value",
                                       "Normalized Totals"
                                       ]]


gender_pa2

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,$1867.68,$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

In [108]:
# Age Demographics

bins = [0,10,14,19,24,29,34,39,100]
bin_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
house_data_df[' '] = pd.cut(house_data_df["Age"], bins, labels=bin_names)
df_age_group = house_data_df.groupby(' ')


purchase_count = df_age_group["Age"].count()

avg_purchase_price = df_age_group["Price"].mean()

total_purchase_value = df_age_group["Price"].sum()

unique_age_count =df_age_group[" "].count()
norm_age = total_purchase_value/unique_age_count

df_age_group1 = pd.DataFrame({"Purchase Count":purchase_count,
                            "Average Purchase Price":avg_purchase_price,
                            "Total Purchase Value":total_purchase_value,
                            "Normalized Totals":norm_age
                     })
 
df_age_group1["Average Purchase Price"] = df_age_group1["Average Purchase Price"].map("${:.2f}".format)
df_age_group1["Total Purchase Value"] = df_age_group1["Total Purchase Value"].map("${:.2f}".format)
df_age_group1["Normalized Totals"] = df_age_group1["Normalized Totals"].map("${:.2f}".format)

df_age_group2 = df_age_group1[["Purchase Count",
                            "Average Purchase Price",
                            "Total Purchase Value",
                            "Normalized Totals"
                           ]]


df_age_group2

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
,,,,
<10,32,$3.02,$96.62,$3.02
10-14,31,$2.70,$83.79,$2.70
15-19,133,$2.91,$386.42,$2.91
20-24,336,$2.91,$978.77,$2.91
25-29,125,$2.96,$370.33,$2.96
30-34,64,$3.08,$197.25,$3.08
35-39,42,$2.84,$119.40,$2.84
40+,17,$3.16,$53.75,$3.16

In [109]:
# Top Spenders


top_spenders = house_data_df.groupby(['SN'])

purchase_count_sn = top_spenders["SN"].count()

avg_purchase_price = top_spenders["Price"].mean()

total_purchase_value = top_spenders["Price"].sum()

top_spender_summary = pd.DataFrame({"Purchase Count":purchase_count_sn,
                            "Average Purchase Price":avg_purchase_price,
                            "Total Purchase Value":total_purchase_value
                     })

top_spender_summary["Average Purchase Price"] = top_spender_summary["Average Purchase Price"].map("${:.2f}".format)
top_spender_summary["Total Purchase Value"] = top_spender_summary["Total Purchase Value"].map("${:.2f}".format)

top_spender_summary2 = top_spender_summary[["Purchase Count",
                                       "Average Purchase Price",
                                       "Total Purchase Value",
                                       ]]

top_spender_summary3 = top_spender_summary2.sort_values('Total Purchase Value', ascending=False)
top_spender_summary3.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Qarwen67                   4                  $2.49                $9.97
Sondim43                   3                  $3.13                $9.38
Tillyrin30                 3                  $3.06                $9.19
Lisistaya47                3                  $3.06                $9.19
Tyisriphos58               2                  $4.59                $9.18

In [113]:
#Most Popular Items

pop_items = house_data_df.groupby(['Item ID','Item Name'])

purchase_count_it = pop_items["SN"].count()

avg_purchase_price = pop_items["Price"].mean()

total_purchase_value = pop_items["Price"].sum()

pop_items_table = pd.DataFrame({"Purchase Count":purchase_count_it,
                            "Item Price":avg_purchase_price,
                            "Total Purchase Value":total_purchase_value
                     })
 
pop_items_table["Item Price"] = pop_items_table["Item Price"].map("${:.2f}".format)
pop_items_table["Total Purchase Value"] = pop_items_table["Total Purchase Value"].map("${:.2f}".format)

pop_items_table2 = pop_items_table[["Purchase Count",
                                       "Item Price",
                                       "Total Purchase Value",
                                       ]]

pop_items_table3 = pop_items_table2.sort_values('Purchase Count', ascending=False)
pop_items_table3.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [112]:
most_profitable = house_data_df.groupby(['Item ID','Item Name'])

purchase_count_prof = most_profitable["SN"].count()

avg_purchase_price = most_profitable["Price"].mean()

total_purchase_value = most_profitable["Price"].sum()

most_profitable_table = pd.DataFrame({"Purchase Count":purchase_count_prof,
                            "Item Price":avg_purchase_price,
                            "Total Purchase Value":total_purchase_value
                     })

most_profitable_table["Item Price"] = most_profitable_table["Item Price"].map("${:.2f}".format)
most_profitable_table["Total Purchase Value"] = most_profitable_table["Total Purchase Value"].map("${:.2f}".format)

most_profitable_table2 = most_profitable_table[["Purchase Count",
                                       "Item Price",
                                       "Total Purchase Value",
                                       ]]

most_profitable_table3 = most_profitable_table2.sort_values('Total Purchase Value', ascending=False)
most_profitable_table3.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
170,Shadowsteel,5,$1.98,$9.90
21,Souleater,3,$3.27,$9.81
37,"Shadow Strike, Glory of Ending Hope",5,$1.93,$9.65
127,"Heartseeker, Reaver of Souls",3,$3.21,$9.63
120,Agatha,5,$1.91,$9.55